<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect("http://localhost:5004/socket.io");
    console.log("Initializing socket");
    socket.on("custom", function(msg) {
      console.log("GOT CUSTOM LISTENING BEFORE CONNECT", msg);
    });
    socket.on("connect", function() {
      socket.on("custom", function(msg) {
        console.log("GOT CUSTOM", msg);
      });
      console.log("Connected!");
      socket.emit("ping");
    });
</script>